$background :  rgb(230, 204, 171);
$Titlebackground :  rgb(124, 80, 23);
$textcolor : rgba(16, 101, 172, 0.829);

$Pargraphfont:'Times New Roman', Times, serif ;
$Titlefont : 'Courier New', Courier, monospace ;